.container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #ffffff;
}

.heading {
  font-size: 3.2rem;
  font-weight: 700;
  font-family: $font-secondary;
  color: #222222;
  padding: 3rem;
}
