.about {
  padding: 7rem 10rem;
  margin: 0 auto;

  &__heading {
    margin-left: 5rem;
  }

  &__info {
    display: grid;
    padding: 4rem;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: 20rem;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  }

  &__img {
    //  padding: 5rem 6rem 13rem 5rem;
  }

  &__img img {
    display: block;
    border-radius: 50%;
    width: 10rem;
  }

  &__bio {
    border-right: 2px dotted $color-secondary;
    padding: 0 3rem;
  }

  &__bio-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__bio-item {
    font-size: 1.8rem;
    line-height: 1.6;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__bio-value {
    color: $color-secondary;
  }

  &__text {
    font-size: 1.8rem;
    padding: 2.6rem;
    line-height: 1.7;
    letter-spacing: 0.04em;
  }
}
