.about {
  padding: 7rem 10rem;
  margin: 0 auto;

  @media screen and (max-width: $tablet) {
    padding: 3rem 2rem;
  }

  &__heading {
    margin-left: 5rem;
  }

  &__info {
    display: grid;
    padding: 4rem;
    grid-template-columns: auto auto 1fr;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);

    @media screen and (max-width: $desktop) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__img {
  }

  &__img img {
    display: block;
    border-radius: 50%;
    width: 10rem;
    margin: 0 4rem;

    @media screen and (max-width: $phone) {
      margin: 0;
    }
  }

  &__bio {
    border-right: 2px dotted $color-secondary;
    padding: 0 3rem;

    @media screen and (max-width: $phone) {
      border: none;
    }
  }

  &__bio-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__bio-item {
    font-size: 1.8rem;
    line-height: 1.6;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__bio-value {
    color: $color-secondary;
    a {
      color: inherit;
    }
  }

  &__text {
    font-size: 1.8rem;
    padding: 2.6rem;
    line-height: 1.7;
    letter-spacing: 0.04em;

    @media screen and (max-width: $desktop) {
      grid-column: span 2;
    }
    @media screen and (max-width: $phone) {
      padding: 1rem;
    }
  }
}
