.contact {
  padding: 0 10rem;
  margin-bottom: 9rem;

  @media screen and (max-width: $tablet) {
    padding: 0 2rem;
    margin-bottom: 4rem;
  }

  &__wrapper {
    display: flex;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);

    @media screen and (max-width: $phone) {
      flex-direction: column;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ff9a3d;
    padding: 4rem 5rem;
    flex: 5;
    color: #ffffff;
    font-size: 1.8rem;
  }

  &__svg {
    display: block;
    width: 70px;
    height: 70px;
    margin-bottom: 4rem;
  }

  &__text {
    line-height: 1.7;
    letter-spacing: 0.04em;
    max-width: 70%;
  }

  &__links {
    display: flex;
  }

  &__link {
    display: block;
    width: 25px;
    height: 25px;
    margin: 1rem;
    transition: all 0.2s;
  }

  &__link:hover {
    @include grow;
  }

  &__adress {
    span {
      display: block;
      line-height: 2.5rem;
      letter-spacing: 0.02em;
    }
    a {
      color: inherit;
    }
    @media screen and (max-width: $phone) {
      margin-top: 4rem;
    }
  }

  &__form-box {
    flex: 7;
    padding: 4rem;
  }

  &__form-heading {
    font-size: 3.6rem;
    margin-bottom: 2rem;
    font-weight: 700;
    color: #222222;
    letter-spacing: 0.04em;
    line-height: 1.7;
    position: relative;
  }

  &__form-heading::before {
    content: "";
    border: 2rem solid transparent;
    border-left: 2rem solid #ff9a3d;
    display: block;
    position: absolute;
    left: -4rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input {
    padding: 2rem;
    border-radius: 20px;
    margin-bottom: 2rem;
    border: none;
    outline: none;
  }

  &__input--area {
    resize: none;
    line-height: 18rem;
  }
  &__input,
  &__input::placeholder {
    font-family: $font-secondary;
    font-size: 1.8rem;
    color: #a0a0a0;
  }

  &__input:focus {
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.2);
  }

  .btn {
    align-self: flex-end;
  }
}
