.header {
  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 4rem 4rem 2rem 6rem;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__logo span {
    font-size: 2.4rem;
    letter-spacing: 5px;
    font-weight: 700;
    margin-left: 1rem;
  }

  &__menu {
    display: flex;
    list-style: none;

    @media screen and (max-width: $phone) {
      display: none;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    color: $color-primary;
    font-size: 2rem;
    font-weight: 700;
    margin-right: 4rem;
    transition: all 0.2s;
    border-bottom: 2px solid transparent;
  }

  &__link:hover {
    @include grow;
    border-bottom: 2px solid $color-primary;
  }

  &__svg {
    display: block;
    width: 36px;
    height: 32px;
  }

  &__hero {
    position: relative;
    height: 58rem;
    background-image: url("../assets/photos/hero-layer2.png"),
      url("../assets/photos/hero.jpg");
    background-size: cover;
    background-position: center;
  }

  &__hero-text {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__hero-text h1 {
    font-size: 10rem;
    color: $color-secondary;
    font-weight: 700;

    @media screen and (max-width: $phone) {
      font-size: 6rem;
    }
  }

  &__hero-text h3 {
    font-size: 3.6rem;
    color: #ffffff;
    font-weight: 700;
  }

  &__hero-links {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  &__hero-link {
    display: block;
    width: 25px;
    height: 25px;
    margin: 1rem;
    transition: all 0.2s;
  }

  &__hero-link:hover {
    @include grow;
  }

  &__sub {
    padding: 6rem;
    @media screen and (max-width: $phone) {
      padding: 2rem;
    }
  }
  &__sub-heading {
    font-size: 3.6rem;
    text-align: center;
    font-weight: normal;
    margin-bottom: 3.6rem;
  }
  &__sub-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8rem;
    justify-items: start;

    @media screen and (max-width: $phone) {
      column-gap: 2rem;
    }
    @media screen and (max-width: $phone-xs) {
      grid-template-columns: 1fr;
      row-gap: 2rem;
      justify-items: normal;
    }
  }

  &__sub-btns .btn:first-child {
    justify-self: end;
    animation: shake 3s infinite;

    @media screen and (max-width: $phone-xs) {
      justify-self: normal;
    }
  }
}
